@import '../../assets/variables';

%commonStyles {
  padding: 5px 10px;
  cursor: pointer;
  text-align: left;
  font-size: #{$fz-middle - 2};
  border-radius: 2px;
  transition: background 0.3s;

  &:hover {
	background: darken($gray-light, 5%);
  }

  &:active {
	background: darken($gray-light, 20%);
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
	background: lighten($gray-light, 5%);
	box-shadow: none;
	cursor: not-allowed;
  }

  &:focus {
	outline: none;
  }
}

%floatingActionCommon {
  $floatingSize: 40px;

  border-radius: $floatingSize;
  width: $floatingSize !important;
  height: $floatingSize;
  text-align: center;
  font-size: 20px;

  &:focus {
	outline: none;
  }
}

.button {
  display: block;
  position: relative;
  background: darken($gray-light, 10%);
  //box-shadow: 0 2px 1px 0 rgba(0,0,0,0.18), 0 4px 5px 0 rgba(0,0,0,0.15);
  box-shadow: 0 2px 1px 0 rgba(0,0,0,0.18), 0 0 2px 1px rgba(0,0,0,0.1);
  width: 100%;
  border: 0;

  @extend %commonStyles;
}

.flat {
  display: inline-block;
  background: transparent;
  border: none;

  @extend %commonStyles;
}

.flatGreen {
  composes: flat;

  &:hover {
	background: lighten($dark-green, 5%);
  }
  &:active {
	background: lighten($dark-green, 10%);
  }
}

.emphasized {
  composes: button;
  background: $violet;
  color: #fff;

  &:hover {
	background: lighten($violet, 10%);
  }

  &:active {
	background: darken($violet, 5%);
  }
}

.inline {
  composes: button;
  display: inline-block;
  width: auto;
}

.inlineGreen {
  composes: inline;
  background: $dark-green;
  color: #fff;

  &:hover {
	background: lighten($dark-green, 5%);
  }

  &:active {
	background: darken($dark-green, 5%);
  }

  &[disabled],
  &[disabled]:hover,
  &[disabled]:active {
	background: lighten($dark-green, 50%);
  }
}

.floatingAction {
  composes: inline;

  @extend %floatingActionCommon;
}

.floatingActionGreen {
  composes: inlineGreen;

  @extend %floatingActionCommon;
}

.pushed {
  box-shadow: 4px 4px 0 0 darken($gray-light, 30%);

  &:active {
	top: 4px;
	left: 4px;
	box-shadow: none;
  }
}

