@import '../../assets/variables';

$grid-columns: 12;
$border-spacing: 5px;

@mixin columns($from, $to) {
  @for $i from $from through $to {
	&#{$i} {
	  width: 100% / $grid-columns * $i;
	}
  }
}

@mixin columnsIndented($from, $to) {
  @for $i from $from through $to {
	&#{$i}Indented {
	  composes: col#{$i};
	  width: 100% / $grid-columns * $i;
	  padding-right: 10px;

	  &:last-child {
		padding-right: 0;
	  }
	}
  }
}

.container {
  margin: 0 auto;
  max-width: $max-content-width;
}

.mainContainer {
  composes: container;
  display: flex;
  height: 100vh;
}

.flexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flexContainerCentred {
  composes: flexContainer;
  align-items: center;
}

.flexContainerEnd {
  composes: flexContainer;
  align-items: flex-end;
}

.col {
  @include columns(1, $grid-columns);
  @include columnsIndented(1, $grid-columns);
}

.colSM {
  @media screen and (max-width: $screen-md-min - 1) {
	@include columns(1, $grid-columns);
	@include columnsIndented(1, $grid-columns);
  }
}

.colXS {
  @media screen and (max-width: $screen-sm-min - 1) {
	@include columns(1, $grid-columns);
	@include columnsIndented(1, $grid-columns);
  }
}

.colLG {
  @media screen and (min-width: $screen-md-min) {
	@include columns(1, $grid-columns);
	@include columnsIndented(1, $grid-columns);
  }
}

