@import '../../assets/variables';

.buttonItem + .buttonItem {
  margin-top: 6px;
}

.buttonsBlock {
  margin-bottom: 20px;
}

.title {
  padding-left: 10px;
  margin: 15px 0;
  font-weight: normal;
  font-size: $fz-middle;
}
