@import '../../assets/variables';

.leftMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: $left-menu-width;
  height: 100vh;
  background: $gray-light;
  box-shadow: 2px 0 5px rgba(0,0,0,0.26);
  padding: #{$header-height + 10px} 10px 10px;
  overflow-x: hidden;
  overflow-y: auto;
}

.title {
  padding-left: 10px;
  margin: 15px 0;
  font-weight: normal;
  font-size: $fz-middle;
}

.buttonItem + .buttonItem {
  margin-top: 10px;
}

.buttonsBlock {
  margin-bottom: 20px;
}
