@import '../../assets/variables';

.link {
  display: inline-block;
  width: 25%;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  color: $white-base;
  font-size: $fz-middle;

  &:hover {
	background: $gray-light;
	color: #000;
  }

  &:active {
	background: darken($gray-light, 10%);
  }
}
